.--active, .--active:hover{
    color: #b672ff;
    border-color: #b672ff;
}

.Author{

    
}

.Year{

}

.Genre{

}

._btn-text:active {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
  }

  .filter__title {

  }
  
  .filter__button {
    width: 144px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
  }
  
  .filter__button:not(:last-child) {
    margin-right: 10px;
  }
  